body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  border: 6px solid black;
  display: flex;

  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  height: 400px; 
  /* flex-flow: row-reverse nowrap; */
  /* column-gap: 10px; */
  /* row-gap: 30px; */
  /* gap:40px 30px; */

  /* height: 800px; */

  /* justify-content: space-around; */
  /* align-items: baseline; */

  /* align-content:space-around; */
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  align-items: stretch;
}

.item-1 {
  background-color: #b4bf35;
  /* padding-bottom: 3rem; */
  align-self: flex-start;
}
.item-2 {
  background-color: #bf7535;
  /* padding-bottom: 5rem; */
    align-self: flex-end;
}
.item-3 {
  background-color: #3735bf;
  /* padding-bottom: 3rem; */
  /* order: 1; */
}
.item-4 {
  background-color: #bf353c;
    align-self: center;
}
.item-5 {
  background-color: #3ebf35;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
}
.item-6 {
  background-color: #bf3561;
  /* flex-grow: 1; */
}
.item-7 {
  background-color: #ab5ece;
  /* order:2; */
}
.item-8 {
  background-color: #1d702b;
}
.item-9 {
  background-color: #1b1d8de3;
}
