body {
  margin: 0;
}

.container {
  border: 6px solid black;
  display: flex;

  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* height: 400px;  */
  /* flex-flow: row-reverse nowrap; */
  /* column-gap: 10px; */
  /* row-gap: 30px; */
  /* gap:40px 30px; */

  height: 800px;

  /* justify-content: space-around; */
  align-items: baseline;
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: #b4bf35;
  padding-bottom: 3rem;
}
.item-2 {
  background-color: #bf7535;
  padding-bottom: 5rem;
}
.item-3 {
  background-color: #3735bf;
  padding-bottom: 3rem;
}
.item-4 {
  background-color: #bf353c;
}
.item-5 {
  background-color: #3ebf35;
}
/* .item-6 {
  background-color: #bf3561;
}
.item-7 {
  background-color: #ab5ece;
}
.item-8 {
  background-color: #1d702b;
}
.item-9 {
  background-color: #1b1d8de3;
} */
